{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.js",
  "useEditorConfig": true,
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "arrowParens": "always",
  "semi": false,
  "formatOnSave": true
}
