@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  text-wrap: pretty;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.animated-feature-cards::before {
  @apply pointer-events-none absolute select-none rounded-3xl opacity-0 transition-opacity duration-300 hover:opacity-100;
  z-index: -1;
  content: '';
  inset: -1px;
}

@media (max-width: 768px) {
  .animated-feature-cards::before {
    background: none !important;
  }
}

.bg-pintu::before {
  background: radial-gradient(
    1000px circle at var(--x) var(--y),
    #ff3086 0,
    #b3054d 25%,
    rgba(255, 255, 255, 0) 50%,
    transparent 80%
  );
}

.bg-jamstream::before {
  background: radial-gradient(
    1000px circle at var(--x) var(--y),
    #41bcc4 0,
    #17768e 25%,
    rgba(255, 255, 255, 0) 50%,
    transparent 80%
  );
}

.bg-spotify::before {
  background: radial-gradient(
    1000px circle at var(--x) var(--y),
    #00db4d 0,
    #058733 25%,
    rgba(255, 255, 255, 0) 50%,
    transparent 80%
  );
}
